mat-list-item:not(:first-of-type) {
  border-top: 1px solid #efefef;
}

.mat-card {
  background: #643b84;
}

.mat-card-content {
  background-color: #4f096f;
  padding: 24px;
}
.mat-card-header {
  background-color: #084242;

}

